language: node_js
sudo: false
cache:
  directories:
    - node_modules
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
  - "iojs-v1.0.4"
after_success:
  - codeclimate-test-reporter < coverage/lcov.info
